body{

	background-color: #33B6A2;
}
textarea{
    width: 20em;
    height: 15em;

}

.titulo{
    display: inline-block;
}

#valoroffset{
    display: inline-block;
}

#valoroffset2{
    display: inline-block;
}


#boxcifrado{

	background-color: #F4EEEE;
	width: 200px;
    height: 22px;
    border: 1px solid black;
    display: inline-block;
    border: 1px solid #333;
}
 
#valoroffset{ 
 	width: 80px;
    height: 150px;
    border-radius: 5px;
    height: 23px;
    padding: 3px 5px 0;
    display: inline-block;
 }

 #valoroffset2{ 
    width: 80px;
    height: 150px;
    border-radius: 5px;
    height: 23px;
    padding: 3px 5px 0;
    display: inline-block;
 }
.boton{
    width: 170px;
    height: 80px;
    font-size: 20px;
	border-radius: 15px;
	padding: 15px 25px;
	display: inline-block;
    background-color:#4CAF50;
    text-align: center;
    cursor:pointer;
    outline: none;
    box-shadow: 0 9px #999;
    color:#fff;

}
.boton:hover {
    background-color: #008CBA;
    color: white;
}

.boton:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boton2{
    width: 90px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    padding: 15px 10px;
    display: inline-block;
    background-color:#4CAF50;
    text-align: center;
    cursor:pointer;
    outline: none;
    box-shadow: 0 9px #999;
    color:#fff;

}
.boton2:hover {
    background-color: #008CBA;
    color: white;
}

.boton2:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boton3{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 15px;
    padding: 15px 25px;
    display: inline-block;
    background-color:#4CAF50;
    text-align: center;
    cursor:pointer;
    outline: none;
    box-shadow: 0 9px #999;
    color:#fff;

}
.boton3:hover {
    background-color: #008CBA;
    color: white;
}

.boton3:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.boton4{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 15px;
    padding: 15px 25px;
    display: inline-block;
    background-color:#4CAF50;
    text-align: center;
    cursor:pointer;
    outline: none;
    box-shadow: 0 9px #999;
    color:#fff;

}

.boton4:hover {
    background-color: #008CBA;
    color: white;
}

.boton4:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.box{
    text-align: center;
    margin-top: 20%;

}
 
 .box1{
    text-align: center;
    display: none;
    margin-top: 5%;
}

 .box2{
    text-align: center;
    display: none;
    margin-top: 5%;
}

 /*.box3{
    text-align: center;
    display: none;
   
}

*/
.titulo{
	font-size: 20px;
}

h1{

    color: black;

    text-shadow: #7F7272;    
}

h2{
    color: black;

    font-size: 25px;
}

h3{

    color: black;
    font-size: 25px;
    
}

h4{

    color: black;
    font-size: 25px;
}

 li{

    display: inline;
 }
